@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-background-color: #82B3D3;
  --secondary-background-color: #E6F0F6;
  --secondary-light-background-color: #F0F6F9;
  --secondary-button-background: #82B3D3;
  --selected-button-background: #7DB54F;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 26px;
}

.navigation-link {
  text-decoration: none;
  color: #000;
}

.basic-item-block {
  background: var(--secondary-light-background-color);
  /* Размер текста задается классом .block-list */
  /*font-size: 18px;*/
  /*line-height: 21px;*/
}

.image-item-block {
  background: var(--basic-background-color);
  color: #fff;
}

.additional-item-block {
  background: var(--secondary-background-color);
}

.advantage-item-image {
  background: #81B2D1;
}


/* global text rules */
.header-1{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-3.none-case {
  text-transform: none;
}

.header-4{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.text-small {
  font-size: 16px;
  line-height: 21px;
}

.input-text {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
}

.center-text {
  text-align: center;
}
/* ### */

.input-label-text {
  /* На синем фоне будет плохо видно */
  /*color: #AAA;*/
  font-weight: 400;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.hotels-filter-group label {
  font-size: 18px;
  line-height: 23px;
}

.block-list {
  font-size: 18px;
  line-height: 21px;
}

.price {
  color: #333;
}


/* buttons rules */
.basic-button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: #756157;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.rating-button {
  font-weight: 400;
  color: #000;
  background: #F2F2F2;
}

.additional-button {
  background: var(--secondary-button-background);
}

.selected-button {
  background: var(--selected-button-background);
}

.reset-button {
  background: none;
}
/* ### */


/* section rules */
.main-index-header {
  background: var(--basic-background-color) url("images/main_page/welocome_background.jpg") no-repeat;
  background-size: cover;
}

.notifications {
  background: var(--basic-background-color) url("images/main_page/subscribe_background.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.filter {
  color: #fff;
  background: var(--basic-background-color) url("images/catalog_page/filter_background.jpg") no-repeat;
  background-size: cover;
}
/* ### */
