@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-background-color: #82B3D3;
  --secondary-background-color: #E6F0F6;
  --secondary-light-background-color: #F0F6F9;
  --basic-button-background: #756157;
  --secondary-button-background: #82B3D3;
  --selected-button-background: #7DB54F;
  --secondary-dark-background-color: #81B2D1;
  --element-color: #E5E5E5;
  --page-color: #F2F2F2;
}

html {
  height: 100%;
  background-color: var(--page-color);
}

.main-index-header,
.inner-notifications {
  text-align: center;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000;
  min-height: 100%;
  background-color: #FFF;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  line-height: 26px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index-header {
  background: var(--basic-background-color) url("../images/main_page/welcome_background.jpg") no-repeat;
  height: 485px;
  background-size: cover;
  padding-top: 51px;
}

.notifications {
  background: var(--basic-background-color) url("../images/main_page/subscribe_background.jpg") no-repeat;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #fff;
}

.inner-notifications {
  color: #000;
  background: #FFF;
}

.notifications-form {
  display: flex;
  height: 52px;
}

.filter {
  color: #fff;
  background: var(--basic-background-color) url("../images/catalog_page/filter_background.jpg") no-repeat;
  background-size: cover;
}

.filter-header {
  margin-bottom: 40px;
  padding-top: 35px;
}

.hotels-filter {
  display: flex;
  padding-bottom: 70px;
}

.results-header {
  display: flex;
  height: 49px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.results-view-list {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 8px;
  list-style-type: none;
}

.results-view-control {
  border-radius: 4px;
  border: var(--element-color) 2px solid;
}

.results-view-link-selected {
  border-color: #000;
}

.results-view-link {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  display: block;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  display: flex;
  gap: 8px;
}

.hotels-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.hotel-filter-list {
  margin: 0;
}

.hotels-filter-title {
  padding: 0;
  margin-bottom: 32px;
}

.hotel-filter-item {
  margin-bottom: 16px;
}

.hotel-filter-item:last-child {
  margin-bottom: 0;
}

.hotels-filter-group-price {
  width: 288px;
  margin-left: auto;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.input-price {
  width: 90px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--element-color);
}

.hotel-card-link {
  grid-column: 1 / 3;
  line-height: 0;
  text-decoration: none;
  color: #000;
}

.hotel-card-link .header-3 {
  margin-bottom: 0;
}

.price {
  margin: 0;
  padding: 0;
}

.price-for {
  grid-column: 1 / 2;
}

.price-value {
  grid-column: 2 / 3;
  text-align: right;
}

.page-content-container {
  width: 1060px;
  margin: 0 auto;
}

.content-container {
  text-align: center;
  width: 680px;
  margin: 0 auto;
}

.comfort-content-container {
  width: 505px;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
  font-style: normal;
}

.navigation {
  display: flex;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  max-width: 470px;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-list-user .navigation-link {
  min-height: 20px;
  min-width: 20px;
  padding: 22px 12px;
  background: var(--element-color);
}

.navigation-item-button {
  display: flex;
  align-items: center;
}

.navigation-list-user .basic-button {
  padding: 8px 34px;
}

.navigation-list-user {
  margin-left: auto;
}

.header-logo {
  align-self: flex-start;
}

.logo-link {
  position: relative;
  z-index: 1;
  height: 64px;
  margin-right: 30px;
  line-height: 0;
}

.header-wrapper {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.comfort-header {
  padding: 64px 0;
}

.section-desc {
  margin: 0;
}

.hotels-section-desc {
  margin-bottom: 54px;
}

.notifications-section-desc {
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.header-1 {
  font-size: 60px;
  line-height: 78px;
}

.header-2 {
  font-size: 30px;
  line-height: 36px;
}

.header-3 {
  font-size: 24px;
  line-height: 28px;
}

.header-3.none-case {
  text-transform: none;
}

.header-4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.basic-input {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
}

.input-label-text {
  color: #AAA;
  font-weight: 400;
  line-height: 23px;
}

.select-control {
  margin-left: auto;
  margin-right: 70px;
  font-size: 18px;
  line-height: 23px;
  width: 292px;
}

.block-list {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-filter-list {
  list-style-type: none;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  width: 151px;
}

.basic-button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  font-weight: 700;
  background: var(--basic-button-background);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.big-button {
  line-height: 36px;
  font-size: 20px;
  padding: 8px 50px;
}

.rating-button {
  font-weight: 400;
  color: #000;
  background: var(--page-color);
}

.additional-button {
  background: var(--secondary-button-background);
}

.selected-button {
  background: var(--selected-button-background);
}

.reset-button {
  background: none;
}

.notifications-content-container {
  width: 684px;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.hotels {
  padding: 96px 0;
}

.hotels-content-container{
  width: 592px;
}

.navigation-link {
  text-decoration: none;
  color: #000;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  align-items: center;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #fff;
  min-width: 13px;
  min-height: 15px;
  display: block;
}

.breadcrumbs-link-icon {
  background: #FFF;
}

.basic-item-block {
  width: 400px;
  box-sizing: border-box;
  height: 385px;
  padding: 102px 85px;
  text-align: center;
  background: var(--secondary-light-background-color);
}

.block-item-text {
  margin: 0;
}

.image-description-item-block {
  color: #fff;
  background: var(--basic-background-color);
}

.additional-item-block {
  background: var(--secondary-background-color);
}

.advantage-item-image {
  display: flex;
  width: 100%;
  background: var(--secondary-dark-background-color);
}

.advantages-title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-list,
.advantages-header p {
  margin: 0;
}

.block-item-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.advantages-header {
  padding: 69px 0;
}

.notification-email-input {
  padding: 0;
  padding-left: 20px;
  margin: 0;
  border: none;
  flex-grow: 1;
  font-weight: 400;
}

.inner-notifications .notification-email-input {
  background-color: var(--page-color);
}

.advantage-item-image-left {
  flex-direction: row-reverse;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
}

.hotel-card .basic-button {
  width: 140px;
  padding: 8px 0;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 240px;
}

.footer-social-link {
  display: block;
  height: 40px;
  width: 48px;
  background-color: #000;
}

.results-title {
  margin: 0;
  align-self: center;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-link {
  box-sizing: border-box;
  padding: 12px 10px;
  background-color: var(--basic-background-color);
  display: block;
  color: #fff;
}

.pagination-current {
  color: #000;
  background-color: var(--page-color);
}

.pagination-skip  {
  padding-top: 16px;
  display: block;
  font-size: 22px;
  line-height: 26px;
}

.basic-button:focus,
.basic-button:hover {
  background: #615048;
}

.basic-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:hover {
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:focus {
  background: none;
  outline: 3px solid var(--basic-background-color);
  border-radius: 4px;
}

.additional-button:focus,
.additional-button:hover {
  background: #68A2CA;
}

.selected-button:hover,
.selected-button:focus {
  background: #6C9E42;
}

.rating-button:focus,
.rating-button:hover,
.pagination-current:focus,
.pagination-current:hover {
  background: var(--page-color);
}

.hotel-card-stars-container {
  display: flex;
  align-items: center;
}

.stars-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 6px;
}

.stars-item {
  line-height: 0;
}
